
body{
   color: white;
   overflow: hidden;
}

.banner{
    background-image: url("../img/Banner_XXL_ITS.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
  
    height: 100vh;

    position: relative;
    padding-top: 70vh;
}

h1 {
    font-size: 52px;
    font-family: Oliver-newnew, sans-serif;

    position:static;
    display: flex;
    justify-content: center; 
    vertical-align: middle; 
}

p{
    margin: 0;
}

.agameby {
    font-size: 32px;
    font-family: Oliver-newnew, sans-serif;

    position:static;
    display: flex;
    justify-content: center; 
    vertical-align: middle;  
}

a {
    color: white;
    text-decoration: none;

    transition: all .5s;
    transition: all .5s;
}

a:visited {
    color: white;
  }
  
  a:hover {
    font-size: 56px;
    text-decoration: underline;
    
    transition: all .5s;
    transition: all .5s;
    transform: scale(1);
    transform-origin:center center;
  }

  .comingsoon{
    font-size: 24px;
    font-family: Jost-Light, sans-serif;

    color: white;

    position:static;
    display: flex;
    justify-content: center; 
    vertical-align: middle; 
  }

@font-face{
    font-family: Oliver-newnew;
    src: url("../fonts/Oliver-newnew.ttf") format("truetype");
}
@font-face {
    font-family: Jost-Light;
    src: url(../fonts/Jost-Light.ttf) format("truetype");
}
/* XL*/
@media screen and (max-width: 1200px){
    .banner{
        background-image: url("../img/Banner_XL_ITS.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
  
        height: 100vh;

        position: relative;
        padding-top: 75vh;
    }
}
/* LG - tablet */
@media screen and (max-width: 1024px){
    .banner{
        background-image: url("../img/Banner_MD_ITS.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
  
        height: 100vh;

        position: relative;
        padding-top: 75vh;
    }
}
/* MD - phone */
@media screen and (max-width: 768px){
    .banner{
        background-image: url("../img/Banner_SM_ITS.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
  
        height: 100vh;

        position: relative;
        padding-top: 40vh;
    }
}
